<div id="<%= dom_id equipment %>">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-3">
        <h5>Nome:</h5>
        <%= equipment.name %>
      </div>
      <div class="col-lg-3">
        <h5>Número de Série:</h5>
        <%= equipment.serial_number %>
      </div>
      <div class="col-lg-3">
        <h5>Data de Aquisição:</h5>
        <%= date_formatted(equipment.date_of_acquisition) %>
      </div>
      <div class="col-lg-3">
        <h5>Custo:</h5>
        <%= equipment.cost %>
      </div>
      <div class="col-lg-3">
        <h5>Status:</h5>
        <%= I18n.t("activerecord.attributes.equipment.states.#{equipment.state}") %>
      </div>
      <div class="col-lg-3">
        <h5>Última Manunteção:</h5>
        <%= date_formatted(equipment.last_maintenance) %>
      </div>
      <div class="col-lg-3">
        <h5>Responsável Atual:</h5>
        <%= equipment.current_responsible  %>
      </div>
      <div class="col-lg-3">
        <h5>Entregue ao atual responsável em:</h5>
        <%= datetime_formatted(equipment.delivery_date_responsible) %>
      </div>
      <div class="col-lg-3">
        <h5>Percente a empresa:</h5>
        <%= equipment.company.corporate_reason %>
      </div>
    </div>
  </div>
</div>
