<%= bootstrap_form_with(model: equipment) do |form| %>
  <% if equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>
      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-3">
        <%= form.text_field :name, label: 'Nome' %>
      </div>
      <div class="col-lg-3">
        <%= form.text_field :serial_number, label: 'Número de Série' %>
      </div>
      <div class="col-lg-3">
        <%= form.datetime_field :date_of_acquisition, label: 'Data de Aquisição' %>
      </div>
      <div class="col-lg-3">
        <%= form.text_field :cost, label: 'Custo' %>
      </div>
      <div class="col-lg-3">
        <%= form.select :state, options_for_select(Equipment.states.map {|key, value| [I18n.t("activerecord.attributes.equipment.states.#{key}"), Equipment.states.key(value)]}, equipment.state), label: 'Status' %>
      </div>
      <div class="col-lg-3">
        <%= form.datetime_field :last_maintenance, label: 'Última Manuntenção' %>
      </div>
      <div class="col-lg-3">
        <%= form.text_field :current_responsible, label: 'Responsável Atual' %>
      </div>
      <div class="col-lg-3">
        <%= form.datetime_field :delivery_date_responsible, label: 'Data de Entrega ao Responsável' %>
      </div>
      <div class="col-lg-3">
        <%= form.select :company_id, options_for_select(@companies_options, selected: @equipment.company_id), {}, class: 'select2' %>
      </div>
      <div>
        <% if equipment.new_record? %>
          <%= form.submit "Criar Equipamento", class: 'btn btn-success' %>
        <% else %>
          <%= form.submit "Atualizar Equipamento", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('.select2').select2();
    $("#equipment_cost").maskMoney({
        prefix: 'R$ ', thousands: '.', decimal: ','
    });
  });
  $('form').submit(function() {
      var unmaskedValue = $('#equipment_cost').maskMoney('unmasked')[0];
      $('#equipment_cost').val(unmaskedValue);
    });
</script>
