<%= bootstrap_form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, label: 'Nome' %>
  </div>
  
  <div>
    <%= form.text_field :email, label: 'E-mail', placeholder: "name@example.com" %>
  </div>
  
  <div>
    <%= form.password_field :password, label: 'Senha', placeholder: "Senha"%>
  </div>  
  
  <div>
    <%= form.password_field :password_confirmation, label: 'Confirmação de Senha', placeholder: "Digite novamente sua senha" %>
  </div>

  <div>
    <%= form.text_field :cpf, label: 'CPF' %>
  </div>

  <div>
    <%= form.text_field :rg, label: 'RG' %>
  </div>

  <div>
    <%= form.date_field :dob, label: 'Data de Nascimento' %>
  </div>

  <div>
    <%= form.text_field :zip_code, label: 'CEP' %>
  </div>

  <div>
    <%= form.text_field :address, label: 'Endereço' %>
  </div>

  <div>
    <%= form.text_field :address_number, label: 'Número' %>
  </div>

  <div>
    <%= form.text_field :complement, label: 'Complemento' %>
  </div>

  <div>
    <%= form.text_field :state, label: 'Estado' %>
  </div>

  <div>
    <%= form.text_field :city, label: 'Cidade'  %>
  </div>

  <div>
    <%= form.text_field :neighbourhood, label: 'Bairro' %>
  </div>

  <div>
    <%= form.text_field :country, label: 'País' %>
  </div>

  <div>
    <%= form.text_field :mobile01, label: 'Celular 1' %>
  </div>

  <div>
    <%= form.text_field :mobile02, label: 'Celular 2' %>
  </div>

  <div>
    <%= form.text_field :phone01, label: 'Telefone 1' %>
  </div>

  <div>
    <%= form.text_field :phone02, label: 'Telefone 2' %>
  </div>

  <div class="form-group">
    <% if user.new_record? %>
      <%= form.submit "Criar Usuário", class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit "Atualizar Usuário", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
