<div id="<%= dom_id user %>">
  <p>
    <strong>Nome</strong>
    <%= user.name %>
  </p>
  <p>
    <strong>E-mail</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= user.cpf %>
  </p>
  <p>
    <strong>RG:</strong>
    <%= user.rg %>
  </p>
  <p>
    <strong>Data de Nascimento:</strong>
    <%= user.dob %>
  </p>
   <p>
    <strong>CEP:</strong>
    <%= user.zip_code %>
  </p>
  <p>
    <strong>Endereço:</strong>
    <%= user.address %>
  </p>
  <p>
    <strong>Número:</strong>
    <%= user.address_number %>
  </p>
  <p>
    <strong>Complemento:</strong>
    <%= user.complement %>
  </p>
  <p>
    <strong>Estado:</strong>
    <%= user.state %>
  </p>
  <p>
    <strong>Cidade:</strong>
    <%= user.city %>
  </p>
  <p>
    <strong>Bairro:</strong>
    <%= user.neighbourhood %>
  </p>
  <p>
    <strong>País:</strong>
    <%= user.country %>
  </p>
  <p>
    <strong>Celular 1:</strong>
    <%= user.mobile01 %>
  </p>
  <p>
    <strong>Celular 2:</strong>
    <%= user.mobile02 %>
  </p>
  <p>
    <strong>Telefone 1:</strong>
    <%= user.phone01 %>
  </p>
  <p>
    <strong>Telefone 2:</strong>
    <%= user.phone02 %>
  </p>
  <p>
    <strong>Ativo?</strong>
    <%= user.active %>
  </p>
</div>
