<div class="container mt-4">
  <h1>Usuários</h1>
  <p style="color: green"><%= notice %></p>
  <%= link_to "Novo usuário", new_user_path, class: "btn btn-success" %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Criado em</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= short_id(user) %></td>
            <td><%= user.name %></td>
            <td class="text-nowrap" ><%= user.email %></td>
            <td class="text-nowrap"><%= cpf_formatted(user.cpf) %></td>
            <td><%= date_formatted(user.created_at) %></td>
            <td class="text-nowrap">
              <%= link_to "Exibir", user, class: "btn btn-primary btn-sm" %>
              <%= link_to "Editar", edit_user_path(user), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Excluir', user, data: {turbo_method: :delete, turbo_confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users %>
</div>
