<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar Usuário", edit_user_path(@user) %> |
  <%= link_to "Voltar para Usuários", users_path %>

  <%= button_to "Excluir Usuário", @user, method: :delete %>
</div>
