<div class="container mt-4">
  <h1>Início</h1>
</div>
<div class="container mt-4">
  <div class="row">
    <h2>Usuários</h2>
    <div class="col-md-5 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Últimos usuários cadastrados:</div>
        <div class="card-body">
          <%= render partial: 'table_user', locals: { last_registred_users: @last_registred_users } %>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Usuários que mais acessaram:</div>
        <div class="card-body">
          <%= render partial: 'table_user', locals: { users_with_most_access: @users_with_most_access } %>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Usuários:</div>
        <div class="card-body text-nowrap">
          <p class="card-text">Ativos: <%= @users_active %></p>
          <p class="card-text">Inativos: <%= @users_inactive %></p>
          <p class="card-text">Já acessaram: <%= @users_who_accessed %></p>
          <p class="card-text">Nunca acessaram: <%= @users_who_not_accessed %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <h2>Empresas</h2>
    <div class="col-md-5 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Últimas empresas cadastradas:</div>
        <div class="card-body">
          <%= render partial: 'table_company', locals: { last_registred_companies: @last_registred_companies } %>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Empresas com mais equipamentos:</div>
        <div class="card-body">
          <%= render partial: 'table_company', locals: { with_most_equipments: @with_most_equipments } %>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">Empresas:</div>
        <div class="card-body text-nowrap">
          <p class="card-text">Ativas: <%= @companies_active %></p>
          <p class="card-text">Inativas: <%= @companies_inactive %></p>
          <p class="card-text">Com equipamentos: <%= @with_equipments %></p>
          <p class="card-text">Sem equipamentos: <%= @without_equipments %></p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <%= bootstrap_form_tag url: root_path, method: :get do |form| %>
        <%= form.select :company, options_for_select(@companies), { label: "Empresa" }, class: 'form-control', id: 'company-select' %>
      <% end %>
      <div class="card">
        <div class="card-header">Equipamentos:</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="card-text" id="equipments-available"></p>
              <p class="card-text" id="equipments-unavailable"></p>
              <p class="card-text" id="equipments-maintenance"></p>
            </div>
            <div class="col-6">
              <p class="card-text" id="equipment-more-expensive"></p>
              <p class="card-text" id="equipment-less-expensive"></p>
              <p class="card-text" id="equipments-average-cost"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <h2>Equipamentos</h2>
    <div class="col-md-12 d-flex flex-column bd-highlight mb-3">
      <div class="card">
        <div class="card-header">Últimos equipamentos cadastrados:</div>
        <div class="card-body">
          <%= render partial: 'table_equipment', locals: { last_registred_equipments: @last_registred_equipments } %>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex flex-column bd-highlight mb-3">
      <div class="card">
        <div class="card-header">Equipamentos mais caros:</div>
        <div class="card-body">
          <%= render partial: 'table_equipment', locals: { more_expensives: @more_expensives } %>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex flex-column bd-highlight mb-3">
      <div class="card">
        <div class="card-header">Últimos equipamentos emprestados:</div>
        <div class="card-body">
          <%= render partial: 'table_equipment', locals: { last_equipments_borrowed: @last_equipments_borrowed } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function formatCurrency(cost) {
    return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(cost);
  }

  function updateElementText(elementId, text) {
    $(elementId).text(text);
  }

  function loadEquipmentData(selectedCompany) {
    $.ajax({
      url: '<%= load_data_path %>',
      type: 'GET',
      data: { id: selectedCompany },
      success: function(response) {
        console.log(response);
        if (response.equipment ===  null) {
          updateElementText('#equipments-available', 'Não existe equipamento vinculado');
          updateElementText('#equipments-unavailable', '');
          updateElementText('#equipments-maintenance', '');
          updateElementText('#equipment-less-expensive', '');
          updateElementText('#equipment-more-expensive', '');
          updateElementText('#equipments-average-cost', '');
          return;
        }

        updateElementText('#equipments-available', 'Equipamentos disponíveis: ' + response.count_equipments_available);
        updateElementText('#equipments-unavailable', 'Equipamentos indisponíveis: ' + response.count_equipments_unavailable);
        updateElementText('#equipments-maintenance', 'Equipamentos em manutenção: ' + response.count_equipments_maintenance);

        var moreExpensiveName = response.equipment_more_expensive[0]['name'];
        var moreExpensiveCost = response.equipment_more_expensive[0]['cost'];
        var formattedMoreExpensiveCost = formatCurrency(moreExpensiveCost);
        updateElementText('#equipment-more-expensive', 'Equipamento mais caro: ' + moreExpensiveName + " (" + formattedMoreExpensiveCost + ")");

        var lessExpensiveName = response.equipment_less_expensive[0]['name'];
        var lessExpensiveCost = response.equipment_less_expensive[0]['cost'];
        var formattedLessExpensiveCost = formatCurrency(lessExpensiveCost);
        updateElementText('#equipment-less-expensive', 'Equipamento mais barato: ' + lessExpensiveName + " (" + formattedLessExpensiveCost + ")");

        var formattedAverageCost = formatCurrency(response.average_cost);
        updateElementText('#equipments-average-cost', 'Custo médio: ' + formattedAverageCost);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  $(document).ready(function() {
    var selectedCompany = $('#company-select').val();
    loadEquipmentData(selectedCompany);

    $('#company-select').on('change', function() {
      var selectedCompany = $(this).val();
      loadEquipmentData(selectedCompany);
    });
  });
</script>
