<div id="<%= dom_id company %>">
  <p>
    <strong>Nome Fantasia:</strong>
    <%= company.name_fantasy %>
  </p>
  <p>
    <strong>Razão Social</strong>
    <%= company.corporate_reason %>
  </p>
  <p>
    <strong>CNPJ:</strong>
    <%= company.cnpj %>
  </p>
  <p>
    <strong>E-mail:</strong>
    <%= company.email %>
  </p>
  <p>
    <strong>CEP:</strong>
    <%= company.zip_code %>
  </p>
  <p>
    <strong>Endereço:</strong>
    <%= company.address %>
  </p>
  <p>
    <strong>Número:</strong>
    <%= company.address_number %>
  </p>
  <p>
    <strong>Complemento:</strong>
    <%= company.complement %>
  </p>
  <p>
    <strong>Estado:</strong>
    <%= company.state %>
  </p>
  <p>
    <strong>Cidade:</strong>
    <%= company.city %>
  </p>
  <p>
    <strong>Bairro:</strong>
    <%= company.neighbourhood %>
  </p>
  <p>
    <strong>País:</strong>
    <%= company.country %>
  </p>
  <p>
    <strong>Celular 1:</strong>
    <%= company.mobile01 %>
  </p>
  <p>
    <strong>Celular 2:</strong>
    <%= company.mobile02 %>
  </p>
  <p>
    <strong>Telefone 1:</strong>
    <%= company.phone01 %>
  </p>
  <p>
    <strong>Telefone 2:</strong>
    <%= company.phone02 %>
  </p>
  <p>
    <strong>Ativa?</strong>
    <%= company.active %>
  </p>
</div>
