<%= bootstrap_form_with(model: company, multipart: true) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @company.logo.attached? %>
      <%= link_to 'Excluir logo', delete_logo_company_path(company), data: {turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir a logo?' } %>
    <% else %>
      <%= form.file_field :logo %>
    <% end %>
  </div>

  <div>
    <%= form.text_field :name_fantasy, label: 'Nome Fantasia' %>
  </div>

  <div>
    <%= form.text_field :corporate_reason, label: 'Razão Social' %>
  </div>

  <div>
    <%= form.text_field :cnpj, label: 'CNPJ' %>
  </div>

  <div>
    <%= form.text_field :email, label: 'E-mail', placeholder: "name@example.com" %>
  </div>

  <div>
    <%= form.text_field :zip_code, label: 'CEP' %>
  </div>

  <div>
    <%= form.text_field :address, label: 'Endereço' %>
  </div>

  <div>
    <%= form.text_field :address_number, label: 'Número' %>
  </div>

  <div>
    <%= form.text_field :complement, label: 'Complemento' %>
  </div>

  <div>
    <%= form.text_field :state, label: 'Estado' %>
  </div>

  <div>
    <%= form.text_field :city, label: 'Cidade'  %>
  </div>

  <div>
    <%= form.text_field :neighbourhood, label: 'Bairro' %>
  </div>

  <div>
    <%= form.text_field :country, label: 'País' %>
  </div>

  <div>
    <%= form.text_field :mobile01, label: 'Celular 1' %>
  </div>

  <div>
    <%= form.text_field :mobile02, label: 'Celular 2' %>
  </div>

  <div>
    <%= form.text_field :phone01, label: 'Telefone 1' %>
  </div>

  <div>
    <%= form.text_field :phone02, label: 'Telefone 2' %>
  </div>

  <div>
    <%= form.check_box :active, label: 'Ativa?'%>
  </div>

 <div class="form-group">
    <% if company.new_record? %>
      <%= form.submit "Criar Empresa", class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit "Atualizar Empresa", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
