<h1>Empresas</h1>
<p style="color: green"><%= notice %></p>
<%= link_to "Nova Empresa", new_company_path, class: "btn btn-success" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome Fantasia</th>
        <th>Razão Social</th>
        <th>CNPJ</th>
        <th>Criado em</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name_fantasy %></td>
          <td><%= company.corporate_reason %></td>
          <td><%= cnpj_formatted(company.cnpj) %></td>
          <td><%= date_formatted(company.created_at) %></td>
          <td>
            <%= link_to "Exibir", company, class: "btn btn-primary btn-sm" %>
            <%= link_to "Editar", edit_company_path(company), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Excluir', company, data: {turbo_method: :delete, turbo_confirm: 'Você tem certeza que deseja excluir?' }, class: "btn btn-danger btn-sm"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @companies %>
</div>
