<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
  <h1 class="h3 mb-3 fw-normal">Login</h1>
  <div class="field">
    <%= form.email_field :email, autofocus: true, autocomplete: "email", label: 'E-mail', placeholder: "name@example.com" %>
  </div>
  <div class="field">
    <%= form.password_field :password, autocomplete: "current-password", label: 'Senha', placeholder: "Senha" %>
  </div>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% elsif notice %>
   <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= form.check_box :remember_me, label: 'Lembrar-me' %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "Entrar", class: "btn btn-primary w-100 py-2" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
