<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="auto">
  <head>
    <title>ProjetoDeAvaliacao</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#712cf9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= render 'layouts/change_theme' %>
   <div class="d-flex flex-row">
      <%= render 'layouts/sidebar' if current_user %>
    <div class="flex-grow-3">
      <%= yield %>
      <%= render 'layouts/footer' if current_user %>
    </div>
</body>
</html>
