<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="auto">
  <head>
    <title>ProjetoDeAvaliacao</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#712cf9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/change_theme' %>
    <div class="container-fluid">
      <div class="row">
        <% if current_user %>
          <%= render 'layouts/sidebar' %>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <%= yield %>
          </main>
        <% else %>
          <main class="form-signin w-100 m-auto">
            <%= yield %>
          </main>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
